<div>
	<div class="flex">
		<h3>List of brand</h3>
		<a href="/brand/create" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Add Brand</a>
	</div>
	<div style="padding-top: 20px;">
		<table class="table" style="width:100%">
		  	<thead>
		    	<tr>
		     	 	<th scope="col" style="width:30%">Name</th>
		     	 	<th scope="col" style="width:20%">No. of Product</th>
		      		<th scope="col">Status</th>
		     	 	<th scope="col">Action</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  		{{#if brand}}
		  			{{#each brand}}
			  			<tr>
			      			<td>{{name}}</td>
			      			<td>{{{productCheck productCount}}}</td>
			      			<td><label class="switch">
                                                <input {{#if status}}checked{{/if}} type="checkbox" name="{{status}}" id="{{_id}}">
                                                <span class="slider round"></span>
                                              </label></td>
			      			<td>{{{checkDestroy isDeleted _id}}} &nbsp; <a href="/brand/update/{{_id}}"><i class='bx bxs-edit bx-sm' ></i></a></td>
			    		</tr>
			    	{{/each}}
		  		{{/if}}
		  	</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	const destroy = async (brandId, status) => {
		console.log(status)
        const result = await confirm(status === 'false' ? "Are you sure you want to remove it!" : "Are you sure you want to restore it!");
        if(result) $.post('/brand/delete',{brandId}, () => window.location.href = '/brand');
    }

    const status = async (brandId, status) => {
		console.log(status)
        const result = await confirm(status === 'false' ? "Are you sure you want to active it!" : "Are you sure you want to deactive it!");
        if(result) $.post('/brand/status',{brandId}, () => window.location.href = '/brand');
    }

    const update = async (brandId) => {
		console.log(brandId)
    }

</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

// $('#switchstatus input[type=checkbox]').change(function() {

$('input[type="checkbox"]').change(function () {
    let brandId = this.id;
  	let status = this.name;
  	//const result = confirm(status === 'false' ? "Are you sure you want to active it!" : "Are you sure you want to deactive it!");
    $.post('/brand/status',{brandId}, () => window.location.href = '/brand');
});
</script>